{% extends '@CrosierLibBase/list.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('fin/bancoList') }}
{% endblock %}

{% set titulo = 'Bancos' %}
{% set route_form = 'banco_form' %}
{% set route_list = 'banco_list' %}
{% set route_list_ajax = 'banco_datatablesJsList' %}
{% set list_id = 'bancoList' %}

{% block campos_pesquisar %}

    <div class="form-group">
        <label for="filter_str">Código/Nome</label>
        <input type="text"
               class="form-control" id="filter_str"
               name="filter[str]"
               value="{{ filter.str|default('') }}">
    </div>

{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Financeiro/bancoList') }}
{% endblock %}
