{% extends '@CrosierLibBase/list.html.twig' %}


{% set titulo = 'Bandeiras de Cartões' %}
{% set route_form = 'bandeiraCartao_form' %}
{% set route_list = 'bandeiraCartao_list' %}
{% set route_list_ajax = 'bandeiraCartao_datatablesJsList' %}
{% set list_id = 'bandeiraCartaoList' %}

{% block campos_pesquisar %}

    <div class="form-group">
        <label for="p_descricao">Descrição</label>
        <input type="text"
               class="form-control" id="filter[descricao]"
               name="filter[descricao]"
               value="{{ filter.descricao|default('') }}">
    </div>


{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Financeiro/bandeiraCartaoList') }}
{% endblock %}
