{% extends '@CrosierLibBase/list.html.twig' %}


{% set titulo = 'Modos de Movimentação' %}
{% set route_form = 'modo_form' %}
{% set route_list = 'modo_list' %}
{% set route_list_ajax = 'modo_datatablesJsList' %}
{% set list_id = 'modoList' %}

{% block campos_pesquisar %}

	<div class="form-group">
		<label for="p_descricao">Descrição</label>
		<input type="text"
			   class="form-control" id="filter[descricao]"
			   name="filter[descricao]"
			   value="{{ filter.descricao|default('') }}">
	</div>
	<div class="form-group">
		<label for="p_descricao">Dt Consolidado</label>
		<input type="date" size="15" class="form-control"
			   name="filter[dtConsolidado][i]"
			   value="{{ filter.dtConsolidado.i|default('') }}">
		<input type="date" size="15" class="form-control"
			   name="filter[dtConsolidado][f]"
			   value="{{ filter.dtConsolidado.f|default('') }}">
	</div>

{% endblock %}


{% block down_scripts %}
	<script src="{{ asset('build/Financeiro/modoList.js') }}"></script>
{% endblock %}
