{% extends '@CrosierLibBase/index.html.twig' %}

{% block up_scripts %}
    <style>

        .clicker {
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;
        }

        .clicker:hover {
            background: #eee;

        }

    </style>

{% endblock %}

{% block page_content %}

    <div class="container-fluid mt-3">
        <div class="row">


        </div>
    </div>
{% endblock %}