{% extends '@CrosierLibBase/list.html.twig' %}


{% set titulo = 'Registros para Conferência' %}
{% set route_form = 'registroConferencia_form' %}
{% set route_list = 'registroConferencia_list' %}
{% set route_list_ajax = 'registroConferencia_datatablesJsList' %}
{% set list_id = 'registroConferenciaList' %}

{% block campos_pesquisar %}

	<div class="form-group">
		<label for="p_descricao">Descrição</label>
		<input type="text"
			   class="form-control" id="filter[descricao]"
			   name="filter[descricao]"
			   value="{{ filter.descricao|default('') }}">
	</div>

{% endblock %}


{% block down_scripts %}
	<script src="{{ asset('build/Financeiro/registroConferenciaList.js') }}"></script>
{% endblock %}
