<div class="tab-pane fade" id="estoqueseprecos" role="tabpanel" aria-labelledby="estoqueseprecos-tab">

    {% if e.id %}


        <input type="hidden" name="produtoPreco[id]" id="produtoPreco_id"/>

        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label for="produtoPreco_lista">Lista</label>
                <select id="produtoPreco_lista" autocomplete="off"
                        name="produtoPreco[lista]" required
                        class="form-control"
                        data-options="{{ listasPrecos_options|default('{}') }}"
                        aria-hidden="true">
                </select>
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label for="produtoPreco_unidade">Unidade</label>
                <select id="produtoPreco_unidade" autocomplete="off"
                        name="produtoPreco[unidade]" required
                        class="form-control"
                        data-options="{{ unidades|default('{}') }}"
                        aria-hidden="true">
                </select>
            </div>
        </div>

        <div class="col-md-2 col-sm-12">
            <div class="form-group">
                <label for="produtoPreco_precoCusto">Preço Custo</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input type="text" id="produtoPreco_precoCusto" name="produtoPreco[precoCusto]"
                           class="crsr-money form-control">
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label for="produtoPreco_coeficiente">Coeficiente</label>
                <input id="produtoPreco_coeficiente" name="produtoPreco[coeficiente]"
                       class="form-control crsr-dec3">
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label for="produtoPreco_margem">Margem</label>
                <input id="produtoPreco_margem" name="produtoPreco[margem]"
                       class="form-control crsr-dec3">
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label for="produtoPreco_custoOperacional">Cto Operacional</label>
                <input id="produtoPreco_custoOperacional" name="produtoPreco[custoOperacional]"
                       class="form-control crsr-dec3">
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label for="produtoPreco_custoFinanceiro">Cto Financeiro</label>
                <input id="produtoPreco_custoFinanceiro" name="produtoPreco[custoFinanceiro]"
                       class="form-control crsr-dec3">
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <label for="produtoPreco_prazo">Prazo de Compra</label>
                <input type="number" min="0" id="produtoPreco_prazo" name="produtoPreco[prazo]"
                       class="form-control integer">
            </div>
        </div>

        <div class="col-md-2 col-sm-12">
            <div class="form-group">
                <label for="produtoPreco_precoPrazo">Preço a Prazo</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input type="text" id="produtoPreco_precoPrazo" name="produtoPreco[precoPrazo]"
                           class="crsr-money form-control">
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-12">
            <div class="form-group">
                <label for="produtoPreco_precoVista">Preço a Vista</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input type="text" id="produtoPreco_precoVista" name="produtoPreco[precoVista]"
                           class="crsr-money form-control">
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-12">
            <div class="form-group">
                <label for="produtoPreco_precoPromo">Preço Promo</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input type="text" id="produtoPreco_precoPromo" name="produtoPreco[precoPromo]"
                           class="crsr-money form-control">
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div class="form-group text-right">
                <label for="produtoPreco_atual"> </label>
                <div class="custom-control custom-switch mt-2">
                    <input type="checkbox" class="custom-control-input"
                           name="produtoPreco[atual]" id="produtoPreco_atual">
                    <label class="custom-control-label" for="produtoPreco_atual">Atual</label>
                </div>
            </div>
        </div>



        <div class="form-group row">
            <div class="col-2 ml-auto text-right">
                <button type="button" id="btnSalvarItemPreco" class="btn btn-primary" value="Salvar">
                    <i class="fas fa-save" aria-hidden="true"></i> Salvar
                </button>
            </div>
        </div>


        <div id="divTbPrecos">
            {% include '/Estoque/produto_form_estoquesepreco_divTbPrecos.html.twig' %}
        </div>


    {% endif %}

</div>
