<div class="tab-pane fade" id="fotos" role="tabpanel" aria-labelledby="fotos-tab">

    {% if e.id %}
    <div class="container" style="margin-bottom: 50px">

        {% for campo in camposNaAba %}
            {{ form_row(form.jsonData[campo]) }}
        {% endfor %}

        <div class="row mt-3 mb-3">
            <div class="col text-right">
                <button type="submit" class="btn btn-primary" value="Salvar">
                    <i class="fas fa-save" aria-hidden="true"></i> Salvar
                </button>
            </div>
        </div>


        <div class="card">

            <div class="card-body">
                <div class="card-title">
                    <h5>Imagens</h5>
                    <hr>
                </div>


                <div id="produto_imagem">
                    <input type="hidden" id="produto_imagem_id" name="produto_imagem[id]">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="produto_imagem_imageFile">Imagens</label>
                        <div class="col-sm-10">
                            <div class="custom-file">
                                <input type="file" multiple id="produto_imagem_imageFile" name="produto_imagem[imageFile][]"
                                       class="custom-file-input"
                                       data-url="{{ url('est_produto_formImagemFileUpload') }}">
                                <label for="produto_imagem_imageFile" class="custom-file-label"></label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" id="filesUl">
                    {% include 'Estoque/produto_form_produto_filesUl.html.twig' %}
                </div>

            </div>
        </div>


        {% endif %}

    </div>
</div>