<div class="tab-pane fade" id="composicao" role="tabpanel" aria-labelledby="composicao-tab">

    {% if e.id %}
        <div class="card">

            <div class="card-body">


                <input type="hidden" name="produtoComposicao[id]" id="produtoComposicao_id"/>

                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="form-group">
                            <label for="produtoComposicao_produtoFilho" class="required">Item</label>
                            <select id="produtoComposicao_produtoFilho" name="produtoComposicao[produtoFilho]"
                                    data-placeholder="Selecione..."
                                    class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="produtoComposicao_qtde" class="required">Qtde</label>
                            <input type="number" min="0" id="produtoComposicao_qtde" name="produtoComposicao[qtde]"
                                   class="form-control integer">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <div class="form-group">
                            <label for="produtoComposicao_precoTabela" class="required">Preço Tabela</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">R$ </span>
                                </div>
                                <input type="text" min="0" id="produtoComposicao_precoTabela"
                                       name="produtoComposicao[precoTabela]"
                                       class="form-control money" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="form-group">
                            <label for="produtoComposicao_precoComposicao" class="required">Preço na Composição</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">R$ </span>
                                </div>
                                <input type="text" min="0" id="produtoComposicao_precoComposicao"
                                       name="produtoComposicao[precoComposicao]"
                                       class="form-control money">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label for="btnSalvarItemComposicao"></label>
                            <button type="button" id="btnSalvarItemComposicao" class="btn btn-block btn-primary"
                                    value="Salvar">
                                <i class="fas fa-save" aria-hidden="true"></i> Salvar
                            </button>
                        </div>
                    </div>
                </div>


                <div class="table-responsive-sm" id="divTbComposicao">
                    {% include '/Estoque/produto_form_composicao_divTbComposicao.html.twig' %}
                </div>


            </div>
        </div>
    {% endif %}

</div>
