<div class="tab-pane fade" id="estoquesprecos" role="tabpanel" aria-labelledby="estoquesprecos-tab">

    {% if e.id %}
        <div class="card">

            <div class="card-body">



                <div class="table-responsive-sm" id="divTbComposicao">

                </div>


            </div>
        </div>
    {% endif %}

</div>
