{% extends '@CrosierLibBase/index.html.twig' %}



{% block page_content %}

    <div class="container">
        <div class="card" style="margin-bottom: 50px;">
            <div class="card-header">

                <div class="d-flex flex-wrap align-items-center">
                    <h3>
                        Selecionar Contribuinte
                    </h3>
                </div>
            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col">
                        {% include '@CrosierLibBase/Util/flashesOnAlerts.html.twig' %}
                    </div>
                </div>

                <div class="table-responsive-sm">

                    <form name="form_selecionar_contribuinte" id="form_selecionar_contribuinte" method="POST">

                        {% for contribuinte in contribuintes %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="contribuinteId" id="contribuinte_{{ contribuinte.id }}" value="{{ contribuinte.id }}" {{ contribuinte.checked }}>
                                <label class="form-check-label" for="exampleRadios1">
                                    {{ contribuinte.empresa }}
                                </label>
                            </div>

                        {% endfor %}

                        <div class="row">
                            <div class="col text-right">
                                <button type="button" class="btn btn-primary"
                                        name="btnSalvar" value="Salvar" data-form="form_selecionar_contribuinte"
                                        data-target="#confirmationModal" data-toggle="modal">
                                    <i class="fas fa-save" aria-hidden="true"></i> Salvar
                                </button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>


{% endblock %}

