{% extends '@CrosierLibBase/list.html.twig' %}


{% block campos_pesquisar %}

    <div class="form-group">
        <label for="filter_nome">CPF/CNPJ</label>
        <input type="text"
               class="form-control" id="filter_documento"
               name="filter[documento]"
               value="{{ filter.documento|default('') }}">
    </div>

    <div class="form-group">
        <label for="filter_nome">Nome</label>
        <input type="text"
               class="form-control" id="filter_nome"
               name="filter[nome]"
               value="{{ filter.nome|default('') }}">
    </div>

{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('CRM/cliente_list') }}
{% endblock %}
